
.d-flex Button{ 
    margin-right: 10px;
    margin-bottom: 20px;
}
Table Button{ 
    margin-right: 10px;
    background-color: blue;
}
.mainContent{
    margin-top: 200px;
}
#maincheckbox{
    display: inline-block;
    list-style: none;
}




